*{
  transition: .3s ease-in-out;
}
html{
  scroll-behavior: smooth;
}
.app-container{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo_cart{
  display: flex;
  flex-direction: row;
  padding:-20px !important;
  margin: -30px;
  margin-top: 0px;
  margin-left: 0px;

}
.dark{
  position: relative;
  width: 40px;
  margin-top: 8px;
  background-color: rgb(223, 223, 223);
  padding: none;
  height: 15px;
  transition: .3s ease-in-out;
  border-radius: 50px;
}
.dark::before{
  content: '';
  transition: .3s ease-in-out;
  position: absolute;
  width: 13px;
  margin-top: 1px;
  margin-left: 2px;
  background-color: rgb(0, 0, 0);
  padding: none;
  height: 13px;
  border-radius: 50px;
}
.clicked.dark{
  position: relative;
  width: 40px;
  margin-top: 8px;
  background-color: rgb(0, 0, 0);
  padding: none;
  height: 15px;
  transition: .3s ease-in-out;
  border-radius: 50px;
}
.clicked.dark::before{
  content: '';
  position: absolute;
  width: 13px;
  margin-top: 1px;
  margin-left: 25px;
  background-color: rgb(255, 255, 255);
  padding: none;
  height: 13px;
  border-radius: 50px;
}
.banner-container{
  position: relative;
  width: 100%;
  border-radius: 15px;
  margin-top: 100px;
  border-radius: 15px;
  height: 350px;
  background-color: rgb(228, 228, 228);
}
.float-left{
  color: rgb(0, 0, 0);
  margin: 10px;
  margin-top: 50px;
  text-transform: capitalize;
  float: left;
}
.float-left p{
  margin: 0px;
}
.float-left h3{
  font-size:40px;
  margin: 0px;
}
.float-left h1{
  text-transform: uppercase;
  color: white;
  font-weight: 900;
  font-size: 100px;
  margin: -20px;
  margin-left: 0px;
}
.float-left img{
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  margin-top: -50px;
  border-radius: 10px;
}
.float-left button{
  width: 100px;
  margin-top: 20px;
  transition: .3s ease-in-out;
  padding: 10px;
  text-align: center;
  background-color: rgb(255, 20, 137);
  color: white;
  border-radius: 10px;
  border: none;
}

.float-left button:hover{
  cursor: pointer;
  width: 100px;
  transition: .3s ease-in-out;
  padding: 10px;
  text-align: center;
  background-color: rgb(23, 109, 2);
  color: white;
  border-radius: 10px;
  border: none;
}
.description{
  position: relative;
  float: right;
  text-align: end;
  margin: 10px;
  margin-top:calc(100% - 85%);
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 10px;
  width: 250px;
}
.description:hover{
  position: relative;
  float: right;
  text-align: end;
  margin: 10px;
  margin-top:calc(100% - 85%);
  background-color: rgba(255, 255, 255, 0.973);
  border-radius: 10px;
  width: 250px;
}
.desc{
  margin: 10px;
}
.desc p{
  color: rgb(77, 77, 77);
  font-size: small;
}
.layout-container{
  margin: calc(100% - 90%);
  margin-top: 0%;
}
.product-container{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.product-box{
  margin: 20px;
  width: 250px;
  height: auto;
}
.product-bo{
  margin: 20px;
  border-radius: 10px;
  width: 250px;
  height: auto;
}
.product-bo .product-image img,.product-bo .product-image img:hover{
  width: 100%; 
  margin-left: -20px; 
}
.product-image{
  transition: .3s ease-in-out;
  width: 100%;
  position: relative;
  margin: 10px;
  height: 230px;
}
.product-image img{
  width: 250px;
  max-height: 250px;
  object-fit: cover;
  transition: .2s ease-in-out;
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
}
.product-image:hover img{
  width: 260px;
  border-radius: 10px;
  background-color: rgb(48, 11, 25);
}
::selection{
  color: white;
  background-color: black;
}
.as-main{
  text-align: center;
  margin-top: 70px;
}
.as-main h1{
  font-weight: 900;
}
.as-main h4{
  color: rgb(51, 51, 51);
  font-weight: 100;
}
.product-image p{
  margin: 10px;
}
.ftBanner-container{
  position: relative;
  width: 100%;
  height: 330px;
  background-color: red;
  color: white;
  margin: 10px;
  text-align: start;
  margin-top: 100px;
  border-radius: 10px;
}
.ftBanner-container button{
  background-color: white;
  color: red;
  align-items: center;
  float: right;
}
.ftBanner-container .desc p{
  color: white;
}
.ftBanner-container .float-left{
  color: rgb(243, 243, 243);
}
.footer{
  background-color: rgb(0, 42, 78);
}
.footer .col-xl-12{
  padding: 10px;
  align-items: center;
  text-align: center;
}
.links{
  text-decoration: none;
  color: black;
  text-align: center;
  transition: .1s ease-in-out;
}
.links:hover{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.discount{
  margin-top: 70px;
  font-size: large;
  color: rgb(255, 198, 198);
}
.ftBanner-container .description{
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 10px 0px rgb(180, 179, 179);
  border: 5px solid rgb(255, 255, 255);
  color: rgb(255, 51, 51);
  border-radius: 50% 10% 12% 30% / 40% 20% 70% 10%;
}

.ftBanner-container .description:hover{
  background-color: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px 0px rgb(44, 44, 44);
  border: 5px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 50% 10% 12% 30% / 40% 20% 70% 10%;
}
.ftBanner-container .desc{
  margin: 20px;
}
.ftBanner-container .description p{
  color: rgb(255, 40, 40);
}
.ftBanner-container .description:hover p{
  color: rgb(255, 255, 255);
}
.float-left h2{
  font-weight: 900;
  font-size: 70px;
}
.image{
  background: rgba(70, 4, 37, 0.048);
  border-radius: 10px;
  width: 500px;
  overflow: hidden;
  height: 60vh;
}
.image:hover{
  background:linear-gradient(60deg,transparent,red) ;
  background-color: purple;
  border-radius: 10px;
  width: 500px;
  overflow: hidden;
  height: 60vh;
}
.image img{
  width: 500px;
  height: 60vh;
  object-fit: cover;
}
.float-right{
  float: right;
}
.left{
  float: left;
}
.price{
  position: absolute;
  top: 0px;
  z-index: 2;
  background:linear-gradient(60deg,black,rgba(78, 30, 30, 0.527)) ;
  background-color: rgba(68, 2, 27, 0.747);
  color: white;
  font-size: small;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.menu{
  position: fixed;
  top: 5%;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.253);
  z-index: 6;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  backdrop-filter: blur(20px);
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.205);
}
.menu-container .gradient{
  font-weight: 900;
  background: linear-gradient(-90deg,rgb(0, 0, 0),rgb(224, 0, 112));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 10px;
}
.menu-container .gradient span:nth-child(2){
  font-style: italic;
  font-weight: 100;
}
.smart_menu{
  position: relative;
  padding: 30px;
  margin: 10px;
  margin-top: -12px;
}
.carts h2{
  float: left;
  font-size: 20px;
}
.carts .cart-tool{
  float: right;
  outline: none;
  margin-top: -5px;
  background: none;
  color: rgb(31, 2, 9);
  font-weight: 100;
  border: none;
  font-size: x-large;
}
.cart-items{
  background-color: rgb(255, 105, 130);
  padding:3px;
  font-weight: 400;
  background: linear-gradient(60deg,blue,rgb(255,105,130));
  height: 30px;
  width: 30px;
  min-width: 20px;
  min-height: 20px;
  color: white;
  border-radius: 50px;
  font-size: small;
  position: absolute;
}
.slug{
  margin-top: 100px;
}
.slug h1{
  font-weight: 900;
  background: linear-gradient(90deg,purple,rgb(255, 0, 43));
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.ranking{
  color: orangered;
}
.details{
  font-weight: bold;
}
.quantity{
  display: flex;
  flex-direction: row;
}
.quantity button{
  position: relative;
  background:none;
  border: 1px solid rgb(17, 17, 17);
  padding: 8px;
  width: 40px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  outline: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.quantity button:hover{
  position: relative;
  background-color:rgb(65, 65, 65);
  margin: 0px;
  border: 1px solid rgb(17, 17, 17);
  padding: 8px;
  width: 40px;
  color: white;
  outline: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.quantity button:nth-child(3){
  border-right: none;
}
.quantity div{
  margin: 10px;
  font-weight: 500;
}
.shopping-btn button{
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.quantity .add-to-cart{
  position: relative;
  margin-top: -2px;
  overflow: hidden;
  background-color: hotpink;
  border: 5px solid rgb(65, 65, 65);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.603);
  border-radius: 50px;
}
.cart-buttons button{
  margin: 10px;
  border: 1px solid hotpink;
  color: hotpink;
  border-radius: 2px;
  padding: 10px;
}
.cart-buttons button:nth-child(2), .shopping-btn button{
  background:linear-gradient(60deg, transparent, rgb(255, 0, 21));
  background-color: purple;
  border: none;
  color: white;
}

.cart-buttons button:nth-child(2):hover{
  background:linear-gradient(60deg, transparent, rgb(255, 0, 21));
  background-color: rgb(0, 2, 128);
  border: none;
  color: white;
}
.cart-buttons button:nth-child(1):hover{
  border: 1px solid black;
  color: rgb(0, 0, 0);
}
.shopping-btn button:hover{
  background:linear-gradient(60deg, transparent, rgb(255, 0, 21)) !important;
  background-color: rgb(0, 2, 128) !important;
  border: none !important;
  color: white !important;
}
.related{
  padding: 10px;
  width:500px;
  overflow-x: scroll;
  overflow-y: visible;
  display: flex;
}
.little-view{
  width:70px;
  margin: 10px;
  padding: 10px;
  height: 70px;
  border-radius: 10px;
  background-color: rgb(226, 226, 226);
}
.selected{
  width:70px;
  margin: 10px;
  padding: 10px;
  height: 70px;
  border-radius: 10px;
  background-color: rgba(146, 2, 2, 0.555);
}
.related img{
  margin: -10px;
  width:70px;
  height: 70px;
  object-fit: cover;
}
.smart-object{
  position: relative;
  overflow-y:hidden ;
  overflow-x: visible;
}
.float-center{
  margin-top: 100px;
  text-align: center;
}
.flexing-row{
  display: flex;
  flex-direction: row;
  gap: 1px;
  margin-top: 50px;
  flex-wrap: nowrap;
  overflow-y: visible;
  width: 100%;
  border-radius: 30px;
  overflow-x:hidden;
}
.flexing-row .small-view{
  animation: marquee_effect 13s linear infinite;
}
.name_for_it{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  opacity: 0%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.253);
}

.name_for_it:hover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  z-index: 2;
  opacity: 100%;
  background-color: rgba(0, 0, 0, 0.404);
}
.hreff{
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
  color:white;
}
.small-view .hreff:hover{
  text-decoration: none;
  color:rgb(255, 255, 255);
}
.name_for_it p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.flexing-row:hover .small-view{
    animation-play-state: paused;
}
@keyframes marquee_effect{
  from{
    transform: translateX(600%);
  }
  to{
    transform: translateX(-600%);
  }
}
.small-view{
  position: relative;
  width: 200px;
  background-color: rgb(224, 224, 224);
  border-radius: 10% 30% 90% 40% / 90% 40% 20% 70%;
  height: 220px;
  overflow: hidden;
}
.small-view:hover{
  width: 200px;
  background: linear-gradient(120deg,transparent,rgba(255, 0, 0, 0.589));
  background-color: purple;
  border-radius: 10% 30% 90% 40% / 90% 40% 20% 70%;
  height: 220px;
  overflow: hidden;
}
.small-view img{
  width: 200px;
  height: 220px;
  margin: -10px;
  position: relative;
  object-fit: cover;
  z-index: 1;
  transition: .4s ease-in-out;
}
.small-view:hover img{
  width: 210px;
  transition: .4s ease-in-out;
  height: 210px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
  ::-webkit-scrollbar{
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(90deg,transparent,rgba(255, 0, 43, 0.432));
  background-color: rgba(128, 0, 128, 0.507);
  transition: .5s ease-in-out;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(90deg,transparent,rgb(255, 0, 43));
  background-color: rgb(128, 0, 128);
  transition: .5s ease-in-out;
}
.cart-section{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 7;
  backdrop-filter: blur(30px);
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.267);
  width: 100%;
}
.cart-container{
  width: 400px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
  position: relative;
  height: 100vh;
  float: right;
  background-color: white;
}
.sharp{
  font-weight: 400 !important;
}
.margin-top-10{
  margin-top: 10px;
}
.btn-cls{
  background:none;
  outline: none;
  border: none;
}
.empty-cart{
  text-align: center;
}
.cart-item{
  margin: 10px;
  position: relative;
  height: 70vh;
  overflow: hidden;
  border-bottom: 1px solid rgb(243, 242, 242);
  overflow-y: visible;
}
.cart-item::-webkit-scrollbar-thumb{
  background: none;
}
.item{
  position: relative;
  margin: 10px;
  display: flex;
  width: 100%;
  border-radius: 10px;
  flex-direction: row;
}
.cart-item img{
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  text-align: start;
  align-items: start;
  background-color: rgb(236, 236, 236);
}
.item p{
  margin: 4px;
  margin-left: 10px;
}
.item p:nth-child(2){
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item .small{
  width: 100%;
}
.cart-products .add-to-cart{
  border: 5px solid rgb(204, 0, 136);
  box-shadow:inset 0px 0px 10px 0px rgba(0, 0, 0, 0.425);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 12px;
  width:50%;
}
.container.as-main{
  margin: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cart-products .add-to-cart button{
  padding: 10px;
  width: 100%;
  border-top: none;
  background:none;
  border-left: none;
  border-color: rgb(255, 0, 140);
  border-bottom: none;
}
.cart-products .add-to-cart button:nth-child(1){
  border-left: none;
}
.cart-products .add-to-cart button:nth-child(3){
  border-right: none;
}
.right-align{
  text-align: end;
}
.compress{
  display: flex;
  gap: 3;
  flex-direction: row;
}
.icon_del{
  text-align: right;
  margin: 20px;
  margin-left: calc(100% - 80%);
  color: rgb(75, 1, 1);
  font-size: large;
}
.align-center{
  text-align: center;
  margin: 10px;
}
.smart-cash button{
  border-radius: 0px;
}
.success{
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: white;
}
.success .items_{
  top: 50%;
  text-align: center;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 350px;
  justify-content: center;
  align-items:center;
  display: flex;
  flex-direction: column;
  gap: 5;
  background-color: black;
  border-radius: 10px;
  position: absolute;
}
.success .link{
  color:white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  width: 150px;
  margin-top: 100px;
  border-radius: 10px;
  background-color: rgb(236, 19, 19);
  border: none;
}
@media screen and (max-width:1035px) {
  .related{
    padding: 10px;
    width:100%;
    overflow-x: scroll;
    overflow-y: visible;
    display: flex;
  }
  .desc p{
    color: black !important;
  }
  .little-view{
    width:50px;
    margin: 10px;
    padding: 10px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(226, 226, 226);
  }
  
.selected{
  width:50px;
  margin: 10px;
  padding: 10px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(146, 2, 2, 0.555);
}
.related img{
  margin: -10px;
  width:50px;
  height: 100%;
  object-fit: cover;
}
.images{
  position: relative;
  width: 340px;
} 
.image{
  background: rgba(70, 4, 37, 0.048);
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  height: 40vh;
}
.image:hover{
  background:linear-gradient(60deg,transparent,red) ;
  background-color: purple;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  height: 40vh;
}
.image img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
}
@media screen and (max-width:1020px){
  
  .discount{
    margin-top: 70px;
    font-size: small;
    color: rgb(255, 198, 198);
  }
  .desc p{
    color: rgb(0, 0, 0) !important;
  }
  .float-left h2{
    font-weight: 900;
    font-size: 50px;
  }
}
@media screen and (max-width:837px){
  
.small-view{
  position: relative;
  width: 180px !important;
  background-color: rgb(224, 224, 224);
  border-radius: 10% 30% 90% 40% / 90% 40% 20% 70%;
  height: 180px !important;
  overflow: hidden;
}
.small-view:hover{
  width: 180px !important;
  background: linear-gradient(120deg,transparent,rgba(255, 0, 0, 0.589));
  background-color: purple;
  border-radius: 10% 30% 90% 40% / 90% 40% 20% 70%;
  height: 180px;
  overflow: hidden;
}
.small-view img{
  width: 180px !important;
  height: 180px !important;
  margin: -10px;
  position: relative;
  object-fit: cover;
  z-index: 1;
  transition: .4s ease-in-out;
}
.small-view:hover img{
  width: 210px;
  transition: .4s ease-in-out;
  height: 210px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.images{
  position: relative;
  width: 300px;
} 
.image{
  background: rgba(70, 4, 37, 0.048);
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  height: 40vh;
}
.image:hover{
  background:linear-gradient(60deg,transparent,red) ;
  background-color: purple;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  height: 40vh;
}
}
@media screen and (max-width:770px) {
  
.product-box{
  margin: 10px;
  margin-bottom: 0px;
  width: 250px;
  height: auto;
} 
.product-bo{
  margin: 10px;
  margin-bottom: 0px;
  width: 250px;
  height: auto;
}
.product-bo .product-image img,.product-bo .product-image img:hover{
  width: 100%; 
  margin-left: 0px; 
}
.description{
  position: relative;
  float: right;
  text-align: end;
  margin: 10px;
  margin-top:calc(100% - 85%);
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 10px;
  width: 180px;
}
.description:hover{
  position: relative;
  float: right;
  text-align: end;
  margin: 10px;
  margin-top:calc(100% - 85%);
  background-color: rgba(255, 255, 255, 0.973);
  border-radius: 10px;
  width: 200px;
}
.layout-container{
  margin: calc(100% - 98%);
  margin-top: 100px;
}

.ftBanner-container{
  position: relative;
  width: 100%;
  height: 330px;
  background-color: red;
  color: white;
  margin: 0px;
  text-align: start;
  margin-top: 100px;
  border-radius: 10px;
}
.ftBanner-container button{
  background-color: white;
  color: red;
  align-items: center;
  z-index: 2;
  float: right;
  position: relative;
}
}
@media screen and (max-width:650px){
  
.product-bo{
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 200px;
  height: 200px;
} 
.product-bo img,.product-bo:hover img{
  margin: 0px;
  margin-bottom: 0px;
  margin-left: -10px !important;
  width: 170px;
  height: auto;
}
 .smart-object .float-right{
  font-size: small;
 } 
 .smart-object .image img{
  width: 100%;
  height: 100%;
 }

 .product-box{
   margin: 2px;
   width: 20vw !important;
   padding: 0px;
   border-radius: 10px;
   height: 15vh !important;
 }
 .product-box:hover{
   margin: 2px;
   width: 20vw !important;
   padding: 0px;
   border-radius: 10px;
   height: 15vh !important;
 }
.product-box img{
  width: 100% !important;
  object-fit: cover;
  height: 100% !important;
}

  .smart-object{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .container.as-main{
    margin: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 30px !important;
  }
}
@media screen and (max-width:545px){
  .banner-container img, .ftBanner-container img{
    width: 200px;
  }
  .discount{
    margin-top: 70px;
    font-size: small;
    color: rgb(255, 198, 198);
  } 
  .product-box{
    margin: 2px;
    width: 20vw !important;
    padding: 0px;
    border-radius: 10px;
    height: 15vh !important;
  }
  .product-box:hover{
    margin: 2px;
    width: 20vw !important;
    padding: 0px;
    border-radius: 10px;
    height: 15vh !important;
  }
 .product-box img{
   width: 100% !important;
   object-fit: cover;
   height: 100% !important;
 }
  .float-left h2{
    font-weight: 900;
    font-size: 40px;
  }
  .float-left h3{
    font-size: 30px;
  }
  
  .float-left p{
    font-size: small;
  }
  .description,.description:hover{
    position: relative;
    float: right;
    text-align: end;
    margin: 10px;
    margin-top:0px;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 10px;
    width: 250px;
  }
.float-left h1{
  font-size: 70px;
  margin-top: 10px;
}
.float-left button{
  position: relative;
  z-index: 2;
}

.menu{
  position: fixed;
  top: 5%;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.253);
  z-index: 6;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  backdrop-filter: blur(20px);
  margin-top: 0px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.082);
}
.menu-container .gradient{
  font-weight: 900;
  background: linear-gradient(-90deg,rgb(0, 0, 0),rgb(224, 0, 112));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 10px;
}
.menu-container .gradient span:nth-child(2){
  font-style: italic;
  font-weight: 100;
}
.smart_menu{
  position: relative;
  padding: 30px;
  margin: 10px;
  margin-top: -12px;
}
.as-main h1{
  width: 100%;
  text-align: center;
  display: flex;
}
}
@media screen and (max-width:460px){
  .smart-object .image{
    margin-top: 50px;
    height: 300px;
   }
.product-bo{
  margin: 2px;
  margin-top: 2px;
  margin-bottom: 0px;
  width: 180px;
  height: 180px;
} 
.product-bo img,.product-bo:hover img{
  margin: 0px;
  margin-bottom: 0px;
  margin-left: -10px !important;
  width: 170px;
  height: auto;
}
 .product-bo .product-image img,.product-bo .product-image img:hover{
   width: 100%; 
   margin-left: 0px; 
 }
}
@media screen and (max-width:428px) {
  
 .product-box{
  margin: 2px;
  width: 20vw !important;
  padding: 0px;
  border-radius: 10px;
  height: 15vh !important;
}
.name_for_it{
  font-size: small;
}
.product-box:hover{
  margin: 2px;
  width: 20vw !important;
  padding: 0px;
  border-radius: 10px;
  height: 15vh !important;
}
.product-box img{
 width: 100% !important;
 object-fit: cover;
 height: 100% !important;
}

}
@media screen and (max-width:400px){
  
.product-bo{
  margin: 4px;
  margin-top: 4px;
  background-color: rgb(207, 207, 207);
  margin-bottom: 0px;
  width: 130px;
  height: 150px;
  border-radius: 10px;
  font-size: small;
} 
.price{
  padding: 6px;
  font-size: x-small !important;
}
.product-bo img,.product-bo:hover img{
  margin: 0px;
  margin-bottom: 0px;
  margin-left: -30px !important;
  width: 100px;
  height: auto;
}
.product-bo p{
  width: 100%;
  text-align: center;
  margin-left: -10px;
}
.cart-container{
  width:100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
  position: relative;
  height: 100vh;
  float: right;
  background-color: white;
}
}
@media screen and (max-width:330px){
 

  .product-box{
    margin: 2px;
    width: 20vw !important;
    padding: 0px;
    border-radius: 10px;
    height: 10vh !important;
  }
  .product-box:hover{
    margin: 2px;
    width: 20vw !important;
    padding: 0px;
    border-radius: 10px;
    height: 10vh !important;
  }
 .product-box img{
   width: 100% !important;
   object-fit: cover;
   height: 100% !important;
 } 
.cart-products .add-to-cart{
  border: 2px solid rgb(204, 0, 136);
  box-shadow:inset 0px 0px 10px 0px rgba(0, 0, 0, 0.425);
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin: 12px;
  width:40%;
}
.cart-products .add-to-cart button{
  padding: 5px;
  width: 100%;
  border-top: none;
  background:none;
  border-left: none;
  border-color: rgb(255, 0, 140);
  border-bottom: none;
}

.cart-item img{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  text-align: start;
  align-items: start;
  background-color: rgb(236, 236, 236);
}
}
@media screen and (max-width:314px){
  
.images{
  position: relative;
  width: 250px;
} 
.image{
  background: rgba(70, 4, 37, 0.048);
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  height: 30vh;
}
.image:hover{
  background:linear-gradient(60deg,transparent,red) ;
  background-color: purple;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  height: 30vh;
}

.product-bo{
  margin: 4px;
  margin-top: 4px;
  background-color: rgb(207, 207, 207);
  margin-bottom: 0px;
  width: 110px;
  height: 120px;
  border-radius: 10px;
  font-size: x-small;
} 
.price{
  padding: 6px;
  font-size: xx-small !important;
}
.product-bo img,.product-bo:hover img{
  margin: 0px;
  margin-bottom: 0px;
  margin-left: -20px !important;
  width: 100px;
  height: auto;
}
}
/* Darkmode Changer Here */

.darkmode.layout,.darkmode .description, .darkmode .desc p,.darkmode .ftBanner-container button,.darkmode .cart-container{
  background-color: black;
  color: white !important;
  border-color: black;
}.darkmode .description{
  box-shadow:inset 0px 0px 10px 0px rgb(22, 22, 22) !important;
}

.darkmode .as-main h1,.darkmode .product-image,.darkmode .cart-container p{
  color: transparent;
  background: linear-gradient(90deg,rgb(255, 36, 145),blue);
  background-clip: text;
  -webkit-background-clip: text;
}
.darkmode .cart-item div,.darkmode .details div,.darkmode .cart-container span{
  color: transparent;
  background: linear-gradient(90deg,rgb(255, 36, 145),rgb(0, 255, 191));
  background-clip: text;
  -webkit-background-clip: text;
}
.darkmode .cart-container button,.darkmode .cart-item .icon_del{
  color: rgb(0, 255, 191);
}.as-main h4{
  color: rgb(202, 202, 202);
}
.darkmode .banner-container,.darkmode .product-image img, .darkmode .cart-buttons button,.darkmode .product-box, .darkmode .little-view, .darkmode .item img,.darkmode .smart-object .image,.darkmode .product-bo{
  background-color: rgb(29, 29, 29);
  color: hotpink;
}
.darkmode .banner-container .float-left h2,.darkmode .banner-container .float-left p,.darkmode .banner-container .float-left h3,.darkmode .banner-container .desc p{
  color: hotpink !important;
}
.layout{
  position: absolute;
  width: 100%;
}
.darkmode 
.ftBanner-container{
  position: relative;
  width: 100%;
  height: 330px;
  background-color: rgb(90, 0, 0);
  color: rgb(156, 156, 156) !important;
  margin: 10px;
  text-align: start;
  margin-top: 100px;
  border-radius: 10px;
}
.darkmode 
.ftBanner-container h1,.darkmode 
.ftBanner-container h2,.darkmode 
.ftBanner-container p,.darkmode 
.ftBanner-container h3{
  color: rgb(0, 0, 0);
}